body {
  text-align: center;
}

#game {
  display: inline-block;
  background-color: black;
  border: 1px solid black;
  cursor: default;
}

#chat {
  display: inline-block;
  position: relative;

  width: 300px;
  height: 600px;
  border: 1px solid black;
  vertical-align: top;
  text-align: left;
}

#chat-box {
  position: absolute;
  bottom: 0px;
}

#chat-to {
  width: 60px;
}

#chat-input {
  margin: 3px;
  margin-right: 0px;
  width: 180px;
}

#chat-send {
  margin: 0px;
}

#chat-log {
  margin: 0px;
  padding: 5px;
  list-style-type: none;
  height: 560px;
  width: 285px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.chat-login {
  color: green;
}

.chat-logout {
  color: gray;
}

.chat-fail {
  color: red;
}

.chat-user {
  font-weight: bold;
}

.chat-reason, .chat-whisper {
  font-style: italic;
}

.chat-announcement {
  font-weight: bold;
}
